<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="LEscogidoProgramacionNCapasAgostoEntities" connectionString="metadata=res://*/LEscogidoProgramacionNCapasAgosto.csdl|res://*/LEscogidoProgramacionNCapasAgosto.ssdl|res://*/LEscogidoProgramacionNCapasAgosto.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=LEscogidoProgramacionNCapasAgosto;user id=sa;password=pass@word1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LEscogidoProgramacionNCapasAgostoEntities1" connectionString="metadata=res://*/LEscogidoProgramacionNCapasAgosto.csdl|res://*/LEscogidoProgramacionNCapasAgosto.ssdl|res://*/LEscogidoProgramacionNCapasAgosto.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=LEscogidoProgramacionNCapasAgosto;persist security info=True;user id=sa;password=pass@word1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>